@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue : hsl(240, 6%, 50%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: 'Kumbh Sans', sans-serif;
}

#background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, $soft-violet, $soft-blue);
    position: relative;
    #card-background {
        width: 100%;
        height: 97vh;
        display: flex;
        justify-content: center;
        align-items: center;
        #card {
            width: 1000px;
            height: 600px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 6rem;
            background-color: white;
            border-radius: 2rem;
            position: relative;
            #images {
                overflow: hidden;
                position: relative;
                width: 500px;
                height: 600px;
                #background-pattern {
                    width: 750px;
                    position: absolute;
                    left: -77%;
                    top: -18%;
                }
                #main-img {
                    width: 500px;
                    position: absolute;
                    left: -20%;
                    top: 10%;
                }
            }
            #box {
                position: absolute;
                left: -13%;
                top: 37%;
            }
            #faq {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 5rem 9rem 7rem 0rem;
                width: 500px;
                height: 600px;
                position: relative;
                h1 {
                    position: absolute;
                    font-size: 3.2rem;
                    top: 15%;

                }
                #faqs {
                    margin-bottom: 3rem;
                    margin-top: 10rem;
                    .faq-item{
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid hsla(240, 6%, 50%, 0.4);
                        padding: 1rem 0rem;
                        margin-bottom: 1.5rem;
                        cursor: pointer;
                        .question {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 1.6rem;
                            p {
                                &:hover{
                                    color: $soft-red;
                                }
                            }
                            .rotate {
                                transform: rotate(180deg);
                            }
                        }
                        .answer {
                            color: $dark-grayish-blue;
                            margin-top: 1rem;
                            font-size: 1.4rem;
                        }
                        .hidden {
                            display: none;
                        }
                        .show {
                            display: block;
                        }
                        .active {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #background {
        #card-background {
            #card {
                width: 350px;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.1rem;
                margin-top: 5rem;
                #images {
                    overflow: unset;
                    height: 100px;
                    #background-pattern {
                        width: 250px;
                        top: -195%;
                        left: 10%;
                    }
                    #main-img {
                        width: 250px;
                        top: -185%;
                        left: 10%;
                    }
                }
                #box {
                    position: absolute;
                    width: 100px;
                    top: -7%;
                    left: 13%;
                }
                #faq {
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 10rem;
                    width: 350px;
                    position: relative;
                    h1 {
                        position: unset;
                        margin-bottom: 3rem;
                    }
                    #faqs {
                        margin-top: 1rem;
                        .faq-item{
                            justify-content: space-between;
                            margin: 0rem 2rem;
                            .question {
                                width: 305px;
                                font-size: 1.5rem;
                                p {
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                            .answer {
                                color: $dark-grayish-blue;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: white;
}
.attribution a { 
    color: white;
    font-weight: 700; 
}